/* Ensure body takes up the full height and width of the screen */
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh; /* Full screen height */
  width: 100vw; /* Full screen width */
}

/* Fullscreen container for the carousel */
.carousel-container {
  width: 100vw; /* Full screen width */
  height: 100vh; /* Full screen height */
  position: relative;
  overflow: hidden; /* Hide anything that overflows the container */
}

/* Background image to cover full screen */
.carousel-item {
  width: 100%;
  height: 100%;
  background-size: cover; /* Image fills the container, cropping as needed */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* No image repetition */
  position: absolute; /* Allow positioning within the container */
  top: 0; /* Align to the top of the container */
  left: 0; /* Align to the left of the container */
}

.info {
  position: absolute;
  width: calc(100% - 40px);
  left: 20px;
  bottom: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Base styling for all captions */
.caption {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

/* Specific styles for each caption */
#species {
  font-size: 76px;
  font-weight: bold;
}
#observer {
  font-size: 24px;
}
/* #location {
  font-size: 36px;
  font-weight: normal;
} */
/* #time {
  font-size: 48px;
} */
#date {
  font-size: 48px;
}
